.content div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;    
    animation: upToDown 1s;
    animation-direction: alternate;
}

.content h3 {
    font-size: 3rem;
    margin: 10px 0;
    color: var(--background-blue)
}

.content a {
    font-size: 1.5rem;
    margin: 5px 0;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    padding: 5px 10px;
    margin: 1.5% 2% 0;
    color: var(--background-blue);
    background-color: var(--background-blue);
    color: var(--background-white);
    font-weight: 400;
    border: solid 2px var(--background-blue);
    ;
    border-radius: 4px;
    transition: all 300ms ease-in;
}

.button:hover {
    background-color: var(--background-white);
    color: var(--background-blue);
    font-weight: 400;
}

@keyframes upToDown {
    0% {
    transform: translateY(-101vh);
    }
    100% {
    transform: translateY(0vh)

    }
}